---
import Layout from '@layouts/Layout.astro';
import PostList from '@components/PostList/PostList.astro';
import Pagination from '@components/Pagination/Pagination.astro';
import { useI18n, LANGUAGES, getLangParam } from '@libs/i18n';
import { getNews } from '@data/news';
import type { GetStaticPathsOptions } from 'astro';

export const getStaticPaths = ({ paginate }: GetStaticPathsOptions) => {
  return LANGUAGES.flatMap((lang) => {
    const posts = getNews(lang);
    if (posts.length === 0) return [];

    const langParam = getLangParam(lang);

    const pages = paginate(posts, {
      pageSize: 6,
      params: {
        lang: langParam,
      },
    });
    return pages;
  });
};

const { page } = Astro.props;

const messages = {
  ja: {
    title: `一覧ページ - ${page.currentPage}ページ目`,
    description: `一覧ページ - ${page.currentPage}ページ目`,
  },
  en: {
    title: `List page - ${page.currentPage} page`,
    description: `List page - ${page.currentPage} page`,
  },
};

const { t, localePath } = useI18n(Astro, messages);
---

<Layout title={t('title')} description={t('description')}>
  <main>
    <div class="mx-auto my-10 max-w-screen-sm">
      <h1 class="text-center text-2xl font-bold" set:html={t('title')} />
      <PostList posts={page.data} basePath="/news" />
      {
        page.size < page.total && (
          <div class="mx-auto mt-3 w-fit">
            <Pagination baseUrl={localePath('/news')} page={page} />
          </div>
        )
      }
    </div>
  </main>
</Layout>
